box-sizing-reset()
normalize()

::-moz-selection
  background $color-primary
  color $color-default

::selection
  background $color-primary
  color $color-default

html,
body
  height 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  cursor default

html
  font-size 10px

body
  font-size 1rem
  font-family $font-default
  font-variant-ligatures none
  color $color-default
  background #fff

h1, h2, h3, h4, h5, h6
  font-family $font-title
  margin 0
  padding 0

p
  margin 0
  padding 0
