$color-default = #000
$color-primary = #8DFF6A
$color-primary-alt = #3c633a
$color-text = #333

$wrapper-size = 1040px

$font-default = 'IBM Plex Mono', monospace
$font-title = 'criteria-cf', Arial, sans-serif

$path-assets = '../'
$path-img = $path-assets + 'img/'
$path-fonts = $path-assets + 'fonts/'

$padding-body = 10em

$phone = 580px
$tablet = 880px
$desktop-small = 1000px
$desktop-large = 1200px
$desktop-big = 1480px
$desktop-xbig = 1630px

rupture.use-device-width = false
rupture.scale            = 0 $phone $tablet $desktop-small $desktop-large $desktop-big $desktop-xbig
rupture.scale-names      = 'phone' 'tablet' 'desktop-small' 'desktop-large' 'desktop-big' 'desktop-xbig'
