.button
  position relative
  display inline-block
  width auto
  height auto
  color $color-default
  background #fff
  padding 1em 1.6em
  text-align center
  font-size 1.6rem
  font-weight bold
  text-decoration none
  text-transform uppercase
  cursor pointer
  will-change box-shadow
  shadow-button(3px)
  transition box-shadow .1s ease

  +above($phone)
    &:hover
      shadow-button(5px)

  &.off
    background #bbb !important
    pointer-events none

