@font-face {
  font-family: 'criteria-cf';
  font-weight: normal;
  src: url("../fonts/criteriacf-medium-webfont.woff2") format("woff2"), url("../fonts/criteriacf-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: 'criteria-cf';
  font-weight: bold;
  src: url("../fonts/criteriacf-bold-webfont.woff2") format("woff2"), url("../fonts/criteriacf-bold-webfont.woff") format("woff");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background: #8dff6a;
  color: #000;
}
::selection {
  background: #8dff6a;
  color: #000;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}
html {
  font-size: 10px;
}
body {
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  font-variant-ligatures: none;
  color: #000;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'criteria-cf', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.button {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  color: #000;
  background: #fff;
  padding: 1em 1.6em;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  will-change: box-shadow;
  box-shadow: 3px 3px 0 #000, 5px 5px 0 #fff;
  -webkit-transition: box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease;
}
@media only screen and (min-width: 580px) {
  .button:hover {
    box-shadow: 5px 5px 0 #000, 7px 7px 0 #fff;
  }
}
.button.off {
  background: #bbb !important;
  pointer-events: none;
}
.coc {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  background: #000;
  color: #fff;
  -webkit-overflow-scrolling: touch;
}
.coc-close {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
@media only screen and (max-width: 580px) {
  .coc-close {
    right: 20px;
  }
}
.coc-content {
  position: relative;
  margin: 0 auto;
  max-height: 100vh;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding-left: -webkit-calc(50% - 350px);
  padding-left: calc(50% - 350px);
  padding-right: calc(50% - 350px);
  padding-top: 4em;
  padding-bottom: 2em;
}
.coc-content-inner {
  padding: 0 2em;
}
.coc-content h1 {
  margin: 0;
  padding: 0 0 0.1em 0;
  font-family: 'criteria-cf', Arial, sans-serif;
  font-size: 3.5rem;
}
@media only screen and (max-width: 580px) {
  .coc-content h1 {
    font-size: 3rem;
    line-height: 1.4;
  }
}
.coc-content h2 {
  margin: 0;
  padding: 2em 0 0;
  font-family: 'criteria-cf', Arial, sans-serif;
  font-size: 2.2rem;
}
@media only screen and (max-width: 580px) {
  .coc-content h2 {
    font-size: 2rem;
    line-height: 1.4;
  }
}
.coc-content p {
  margin: 0;
  padding: 1em 0;
  line-height: 1.6;
  font-size: 1.5rem;
}
.coc.show {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  -webkit-animation: slide-up 0.3s ease-out forwards;
  animation: slide-up 0.3s ease-out forwards;
  z-index: 100;
}
.coc.show.hide {
  -webkit-animation: slide-down 0.2s ease-in forwards;
  animation: slide-down 0.2s ease-in forwards;
}
@-moz-keyframes slide-up {
  to {
    top: 0;
  }
}
@-webkit-keyframes slide-up {
  to {
    top: 0;
  }
}
@-o-keyframes slide-up {
  to {
    top: 0;
  }
}
@keyframes slide-up {
  to {
    top: 0;
  }
}
@-moz-keyframes slide-down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-webkit-keyframes slide-down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-o-keyframes slide-down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes slide-down {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.select {
  position: relative;
  display: inline-block;
  margin: 2em 0;
  background: #fff;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  padding: 1em 3em 1em 1.5em;
  background: transparent;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>");
  background-size: 12px;
  background-position: -webkit-calc(100% - 20px);
  background-position: calc(100% - 20px) 18px;
  background-repeat: no-repeat;
}
.header {
  height: 100%;
  position: relative;
  background-image: url("../img/bg-dot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: repeat;
  background-color: #000;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .header {
    height: 600px;
  }
}
.header:before {
  content: '';
  width: 100%;
  height: 500px;
  background-image: url("../img/header-bridge-tiny.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-size: 100% auto;
}
@media only screen and (max-width: 580px) {
  .header:before {
    bottom: -30px;
    background-size: 800px auto;
    background-position: -webkit-calc(100% + 130px);
    background-position: calc(100% + 130px) bottom;
  }
}
.header:after {
  content: '';
  width: 120%;
  height: 300px;
  background: #fff;
  position: absolute;
  bottom: -240px;
  left: 0;
  -webkit-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
}
@media only screen and (max-width: 580px) {
  .header:after {
    bottom: -280px;
  }
}
.header-edition {
  position: absolute;
  left: -120px;
  top: 65px;
  padding: 0.6em 0;
  background: #fff;
  width: 400px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000;
  text-transform: uppercase;
}
@media only screen and (max-width: 580px) {
  .header-edition {
    font-size: 1rem;
    left: -150px;
    top: 35px;
  }
}
.header-top {
  padding-top: 5em;
  padding-right: 2em;
}
@media only screen and (max-width: 580px) {
  .header-top {
    padding-top: 2em;
  }
}
.header-top-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.header-top-links .button {
  font-size: 1.2rem;
  margin: 0 1em;
  color: #fff;
  background: #000;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: none;
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
}
.header-top-links .button:hover {
  box-shadow: none;
  border-color: #fff;
}
@media only screen and (max-width: 580px) {
  .header-top-links .button {
    font-size: 1.1rem;
    margin: 0;
    padding: 1em 0;
    border: 0;
    border-bottom: 2px solid #fff;
  }
  .header-top-links .button:first-child {
    margin-right: 2em;
  }
}
.header-wrapper {
  position: relative;
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -16em;
}
@media only screen and (max-width: 580px) {
  .header-content {
    display: block;
    margin-top: -14em;
  }
}
.header-content__logo {
  -webkit-flex-basis: 33%;
  -ms-flex-basis: 33%;
  flex-basis: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.header-content__text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1em;
}
@media only screen and (max-width: 580px) {
  .header-content__text {
    padding-left: 0;
  }
}
.header-logo {
  width: 260px;
  height: 260px;
  background-image: url("../img/logo-mono.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}
.header-logo:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
@media only screen and (max-width: 580px) {
  .header-logo {
    width: 180px;
    height: 190px;
  }
}
.header-slogan {
  font-size: 4.4rem;
  color: #fff;
  line-height: 1.3;
}
@media only screen and (max-width: 580px) {
  .header-slogan {
    display: none;
  }
}
.header-date {
  padding: 2em 0;
}
@media only screen and (max-width: 580px) {
  .header-date {
    padding: 1em 0;
  }
}
.header-date span {
  color: #fff;
  font-family: 'criteria-cf', Arial, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
}
.header-date span.divisor {
  padding: 0 0.3em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}
@media only screen and (max-width: 580px) {
  .header-date span.text {
    display: block;
    text-align: center;
    padding-bottom: 0.3em;
  }
  .header-date span.divisor {
    display: none;
  }
}
.header-actions {
  padding-top: 1em;
}
@media only screen and (max-width: 580px) {
  .header-actions {
    padding-top: 0;
    text-align: center;
  }
}
.header-actions .button {
  background: #8dff6a;
}
@media only screen and (max-width: 580px) {
  .header-actions .button {
    font-size: 1.5rem;
  }
}
.features {
  padding: 10em 0 20em;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .features {
    padding: 7em 0 15em;
  }
}
.features:before {
  content: '';
  width: 400px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  background-image: url("../img/plus-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px auto;
  background-repeat: repeat;
  background-position: 0 0;
}
.features:after {
  content: '';
  width: 120%;
  height: 300px;
  background: #000;
  position: absolute;
  bottom: -240px;
  left: 0;
  -webkit-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg);
}
.features-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .features-wrapper {
    display: block;
  }
}
.features-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.features-title {
  font-size: 3.5rem;
  margin-bottom: 0.3em;
}
@media only screen and (max-width: 580px) {
  .features-title {
    font-size: 3.2rem;
    margin-bottom: 0.8em;
  }
}
.features-description {
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 1.6em;
}
.features-images {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  padding-top: 4em;
  padding-left: 6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 880px) {
  .features-images {
    margin-top: 6em;
    padding-left: 0;
  }
}
.features-images:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 280px;
  margin-left: -140px;
  margin-top: -140px;
  z-index: 1;
  border: 2em solid #8dff6a;
}
@media only screen and (max-width: 580px) {
  .features-images:before {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
  }
}
.features-images li {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
  height: auto;
  z-index: 10;
}
.features-images li:nth-child(even) {
  margin-top: 3em;
  margin-left: -2em;
  margin-bottom: 2em;
}
.features-images li:nth-child(3) {
  z-index: 15;
}
.features-images li img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.speakers {
  background: #000;
  padding: 10em 0 5em;
  position: relative;
}
@media only screen and (max-width: 580px) {
  .speakers {
    padding: 5em 0 3em;
  }
}
.speakers-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.speakers-title {
  font-size: 4rem;
  color: #fff;
  display: inline-block;
  border: 0.1em solid #fff;
  padding: 0.2em 0.6em;
}
@media only screen and (max-width: 580px) {
  .speakers-title {
    font-size: 3.2rem;
  }
}
.speakers-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 7em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (max-width: 580px) {
  .speakers-list {
    display: block;
  }
}
.speaker-item {
  background: #fff;
  -webkit-flex-basis: 48%;
  -ms-flex-basis: 48%;
  flex-basis: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5em;
}
.speaker-item.speaker-item--presenter {
  background: #8dff6a;
}
.speaker-item-column__image {
  -webkit-flex-basis: 40%;
  -ms-flex-basis: 40%;
  flex-basis: 40%;
  border: 5px solid #000;
  border-left: 0;
}
.speaker-item-column__content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 5px solid #000;
  border-left: 0;
  position: relative;
}
.speaker-item__avatar {
  height: 220px;
  background: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 580px) {
  .speaker-item__avatar {
    width: 100%;
    height: 100%;
    min-width: 120px;
  }
}
.speaker-item__avatar-off {
  font-size: 10rem;
  color: #555;
}
.speaker-item__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
}
.speaker-item__title {
  font-size: 2.4rem;
  padding: 0.7em 0.1em 0.7em 0.8em;
  border-bottom: 5px solid #000;
}
.speaker-item__talk {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 1em 1em 1em 1.5em;
}
@media only screen and (max-width: 580px) {
  .speaker-item__talk {
    min-height: 70px;
  }
}
.speaker-item__social {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .speaker-item__social {
    position: relative;
  }
}
.speaker-item__social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.speaker-item__social-link:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  opacity: 0.95;
}
.speaker-item__social-link.gh {
  background: #222;
}
.speaker-item__social-link.tw {
  background: #1da1f2;
}
.location {
  position: relative;
  overflow: hidden;
  padding: 20em 0;
}
@media only screen and (max-width: 580px) {
  .location {
    padding: 10em 0 12em;
  }
}
.location:before {
  content: '';
  width: 120%;
  height: 300px;
  background: #000;
  position: absolute;
  bottom: -240px;
  left: 0;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.location:after {
  content: '';
  width: 120%;
  height: 200px;
  background: #000;
  position: absolute;
  top: -150px;
  left: -100px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
@media only screen and (max-width: 580px) {
  .location:after {
    left: -60px;
  }
}
.location-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .location-wrapper {
    display: block;
  }
}
.location-wrapper:hover .location-picture {
  filter: none;
}
.location-content {
  min-height: 300px;
  -webkit-flex-basis: 48%;
  -ms-flex-basis: 48%;
  flex-basis: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.location-picture {
  -webkit-flex-basis: 0;
  -ms-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url("../img/hotel-maria-do-mar_skyline.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  -webkit-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
}
@media only screen and (max-width: 580px) {
  .location-picture {
    display: none;
  }
}
.location-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.6em;
}
.location-venue {
  font-size: 3.4rem;
  padding-bottom: 0.1em;
  text-indent: -1px;
}
.location-address {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.6;
  padding-bottom: 2em;
}
.location-button {
  font-size: 1.3rem;
  border: 2px solid #000;
}
.schedule {
  padding: 10em 0 15em;
  background: #000;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .schedule {
    padding: 5em 0 12em;
  }
}
.schedule:before {
  content: '';
  width: 120%;
  height: 300px;
  background: #8dff6a;
  position: absolute;
  bottom: -240px;
  left: 0;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.schedule-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.schedule-title {
  font-size: 4rem;
  color: #fff;
  display: inline-block;
  border: 0.1em solid #fff;
  padding: 0.2em 0.6em;
}
@media only screen and (max-width: 580px) {
  .schedule-title {
    font-size: 3.2rem;
  }
}
.schedule-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  padding-top: 4em;
  max-width: 800px;
}
.schedule-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 4em 0;
}
.schedule-item__time {
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
}
@media only screen and (max-width: 580px) {
  .schedule-item__time {
    font-size: 2rem;
  }
}
.schedule-item__time:after {
  content: '';
  position: absolute;
  display: block;
  width: 150px;
  height: 10px;
  border-top: 2px solid #555;
  left: -webkit-calc(100% + 10px);
  left: calc(100% + 10px);
  top: 15px;
}
@media only screen and (max-width: 580px) {
  .schedule-item__time:after {
    top: 12px;
    width: 35px;
  }
}
.schedule-item__title {
  font-size: 2.6rem;
  text-indent: -1px;
}
@media only screen and (max-width: 580px) {
  .schedule-item__title {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}
.schedule-item__talk .schedule-item__time {
  display: none;
}
.schedule-item__talk .schedule-item__title {
  color: #8dff6a;
}
.schedule-item__description {
  color: #ccc;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 0.3em;
  line-height: 1.6;
}
@media only screen and (max-width: 580px) {
  .schedule-item__description {
    font-size: 1.4rem;
  }
}
.schedule-column__time {
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
}
@media only screen and (max-width: 580px) {
  .schedule-column__time {
    -webkit-flex-basis: 120px;
    -ms-flex-basis: 120px;
    flex-basis: 120px;
  }
}
.schedule-column__content {
  -webkit-flex-basis: 0;
  -ms-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tickets {
  position: relative;
  padding: 7em 0 18em;
  background: #8dff6a;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .tickets {
    padding: 4em 0 14em;
  }
}
.tickets:before {
  content: '';
  width: 120%;
  height: 300px;
  background: #fff;
  position: absolute;
  bottom: -240px;
  left: 0;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.tickets-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.tickets-title {
  font-size: 4rem;
  color: #000;
  display: inline-block;
  border: 0.1em solid #000;
  padding: 0.2em 0.6em;
}
@media only screen and (max-width: 580px) {
  .tickets-title {
    font-size: 3.2rem;
  }
}
.tickets-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .tickets-list {
    display: block;
  }
}
.ticket-item {
  position: relative;
  background: #fff;
  padding: 2.5em 3em;
  -webkit-flex-basis: 250px;
  -ms-flex-basis: 250px;
  flex-basis: 250px;
  margin-right: 4em;
  overflow: hidden;
}
@media only screen and (max-width: 580px) {
  .ticket-item {
    margin-right: 0;
    margin-bottom: 2em;
    max-width: 260px;
  }
}
.ticket-item--off {
  pointer-events: none;
}
.ticket-item--off *,
.ticket-item--off .ticket-item__description {
  color: #ccc;
}
.ticket-item--off .button {
  border-color: #ccc !important;
  box-shadow: none !important;
}
.ticket-item--off:after {
  content: 'Esgotado';
  display: block;
  position: absolute;
  width: 400px;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  left: -75px;
  top: 90px;
  background: #f00;
  text-align: center;
  color: #fff;
  padding: 0.3em 0;
  font-size: 2rem;
  font-family: 'criteria-cf', Arial, sans-serif;
  text-transform: uppercase;
}
.ticket-item:last-child {
  margin-right: 0;
}
.ticket-item:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background: #8dff6a;
  top: 50%;
  right: -25px;
}
.ticket-item__title {
  font-size: 2.6rem;
  padding-bottom: 0.1em;
}
.ticket-item__description {
  font-family: 'criteria-cf', Arial, sans-serif;
  font-size: 1.2rem;
  color: #555;
}
.ticket-item__price {
  padding: 1em 0;
  font-size: 2.4rem;
  font-weight: bold;
}
.ticket-item .button {
  border: 2px solid #000;
  font-size: 1.6rem;
  padding: 0.7em 1.2em;
}
.support {
  padding: 13em 0 8em;
}
@media only screen and (max-width: 580px) {
  .support {
    padding: 5em 0 0;
  }
}
.support-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
}
.support-title {
  font-size: 4rem;
  color: #000;
  display: inline-block;
  border: 0.1em solid #000;
  padding: 0.2em 0.6em;
}
.support-title.support-title--apoio {
  font-size: 3.4rem;
}
@media only screen and (max-width: 580px) {
  .support-title.support-title--apoio {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 580px) {
  .support-title {
    font-size: 3.2rem;
  }
}
.support-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 5em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 6em;
}
.support-list.support-list--apoio .support-item {
  width: 16.6%;
  height: 80px;
}
@media only screen and (max-width: 580px) {
  .support-list.support-list--apoio .support-item {
    width: 33.3%;
  }
}
.support-list.support-list--apoio .support-logo {
  max-height: 40px;
}
.support-item {
  width: 33.3%;
  height: 150px;
  margin: 1em 0;
}
@media only screen and (max-width: 580px) {
  .support-item {
    width: 50%;
  }
}
.support-item:last-child {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  margin-right: auto;
}
.support-link {
  display: block;
  width: 95%;
  height: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.support-link:hover {
  box-shadow: 0 0 10px rgba(245,245,245,0.8);
}
.support-logo {
  max-width: 95%;
  max-height: 100px;
}
.footer {
  background: #eee;
  padding: 5em 0;
}
@media only screen and (max-width: 580px) {
  .footer {
    padding: 5em 1.6em 3em;
  }
}
.footer-wrapper {
  max-width: 1040px;
  padding: 0 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .footer-wrapper {
    display: block;
  }
}
.footer-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (max-width: 580px) {
  .footer-column {
    padding-bottom: 3em;
  }
}
@media only screen and (max-width: 580px) {
  .footer-column--coc {
    text-align: center;
  }
}
.footer-column--email {
  text-align: center;
}
.footer-column--social {
  text-align: right;
}
.footer-column--social .footer-link {
  margin-left: 1em;
}
@media only screen and (max-width: 580px) {
  .footer-column--social {
    text-align: center;
  }
}
.footer-text {
  color: #000;
  font-size: 1.4em;
}
.footer-link {
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  text-decoration: none;
}
